*{
    margin: 0;
    padding: 0;
    background-color: rgb(58, 68, 77);
    cursor: none !important; 
}



#hero {
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
    color:  rgb(175, 72, 189);
    height: 100vh;
}

#minicircle {
    width: 20px;
    height: 20px;
    background-color: rgb(175, 72, 189);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
}

.btn {
    background-color: rgb(175, 72, 189);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn:hover {
    background-color: rgb(58, 68, 77);
    color: rgb(175, 72, 189);
}

.btn-div {
    text-align: center;
    margin-top: 520px;
}